@import url("src/css/normalize.css");

:root {
    --text-color: #590d22;
    --primary-color: #c9184a;
    --secondary-color: #ff758f;
    --hover-color: #ff8fa3;
    --shadown-color: #ffb3c1;
    --bg-color: #ffccd5;
    --bg-color-nav: #fff0f3;
    --shadown: box-shadow: #ffb3c1 0px 2px 8px 0px;

    /* sizes */
    --big-size: 150rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* HELPERS */
.container {
    max-width: var(--big-size);
    padding: 0 1rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */
header{
    background-color: var(--bg-color-nav);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--shadown);
}

.nav {
    justify-content: space-between;
    font-size: 1.6rem;
    padding-block: 1rem;
}

.nav__logo {
    display: block;
    font-size: 3rem;
}

.nav__list {
    justify-content: space-between;
    gap: 2rem;
}

.nav__list a {
    text-transform: capitalize;
}

.nav__list a:hover {
    color: var(--primary-color);
}


/* HOME */

.home {
    height: 100vh;
    background: url("https://media.istockphoto.com/id/1135118017/es/foto/fondo-art%C3%ADstico-de-la-flor-de-gerbera.jpg?s=612x612&w=is&k=20&c=ZoOdcMX9RZF7nw_S7n2dB9Sei1QMs3U6xDQCFTAtz9g=") center /  cover no-repeat;

}